    <!DOCTYPE html>
    <html>
        <head>      
            {% block head %}
                <title>{% block title %}{% endblock %} - WikiVideo</title>
                <link href="{{ base_url }}public/css/bootstrap.min.css" rel="stylesheet">
                <link href="{{ base_url }}public/css/style.css"rel="stylesheet" />
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
                
                <script src="https://kit.fontawesome.com/ef1d1d0a2f.js"></script>
                <script src="{{ base_url }}public/js/jquery.min.js"></script>
                <script src="{{ base_url }}public/js/bootstrap.min.js"></script>
                <script src="{{ base_url }}public/js/popper.min.js"></script>
                <script src="{{ base_url }}public/js/script.js"></script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

                
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="shortcut icon" href="fav.ico" type="image/x-icon" />
            {% endblock %}
        </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="{{base_url}}">WIKIVIDEO</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Alterna navegação">
                            <span class="navbar-toggler-icon"></span>
                        </button><!-- button.nav-bar-toggler -->
                        <div class="collapse navbar-collapse" id="navbarSite">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarCourses" role="button" data-toggle="dropdown" aria-haspopup="true">Cursos</a>
                                    <div id="dropdownCourses" class="dropdown-menu" aria-labelledby="navbarCourses">
                                        <div class="row text-center">
                                            {%for category in categories %}
                                            <div class="col-lg-4 col-xs-12 mb-3">
                                                <label>{{category.name}}</label>
                                                <hr class="m-2">
                                                {% for course in category.courses %}
                                                <a class="dropdown-item text-center" href="{{base_url}}course?id={{course.id}}">{{course.title}}</a>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center mt-3">
                                            <a class="btn btn-lg btn-block btn-custom" href="{{base_url}}courses">Mais cursos</a>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- li.nav-item-->
                            </ul><!-- ul.navbar-nav -->
                            <ul class="navbar-nav ml-auto">
                                {% if user.firstname %} 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{user.firstname}}
                                        </a>
                                        
                                        <div class="dropdown-menu" aria-labelledby="navbarAccount">
                                            {% if has_permission %}
                                            <a class="dropdown-item" href="{{base_url}}../painel/index">Administração</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="{{base_url}}chat" target="_blank">Chat</a>
                                            <a class="dropdown-item" href="{{base_url}}dashboard">Minha Area</a>
                                            <a class="dropdown-item" href="{{base_url}}auth/logout">Logout</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <a href="{{base_url}}auth/login" class="btn btn-auth">Entrar/Registrar-se</a>
                                    <!-- <button class="btn-modal-auth" data-toggle="modal" data-target="#modalAuth">Entrar/Registrar-se</button> -->
                                {% endif %}
                            </ul><!-- ul.navbar-nav -->
                        </div><!-- div.navbar-collapse -->
                    </div><!-- div.container -->
                </nav> <!-- nav.navbar -->
            </header>
            <div id="content">{% block content %}{% endblock %}</div>
            </div>
            <footer>
                <h5>Copyright © 2019 - Todos direitos reservados para <a href="http://www.posse.ueg.br/" target="_blank">UEG-POSSE!</a></h4>
                <p>Desenvolvido por Cleideson Barbosa, Gustavo Couttinho e Paulo Vitor.</p>
            </footer>

        </body>
    </html>