/*Configurações padrões */
*{
    margin:0;
    top:0;
    font-family: 'Open Sans', sans-serif;
}
/* Para usar porcetagem dentro do heigth*/
html{
    height:100%;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*Elementos do header */
header nav{
    border-bottom: 1px solid #0d47a1;
}
.navbar-brand{
    font-weight: bolder;
}
#dropdownCourses{
    min-width: 600px;
    padding:40px;
    left:50%;
    transform: translateX(-50%);
}
.btn-modal-auth{
    background: none;
    border:none;
    color:#0d47a1;
    outline: none;
}
#dropdownCourses .dropdown-item{
    cursor: pointer;
}
/*Elementos da seção sobre */
.img-about{
    height:100%;
    width:100%;
    color:#000;
    background-color: #000;
}
.platform-info{
    min-height: 300px;
}
/*Elementos da sessão de melhores cursos */
.best-courses{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color:#0d47a1;
}
.best-courses h2{
    font-weight: bolder;
}
.best-courses-wrapper{
    margin:0 7%;
    padding:40px;
}
.best-courses-wrapper h2{
    color:#fff;
    margin-bottom: 40px;
}
/*Elementos do footer */
footer{
    width:100%;
    background-color:#1a237e;
    color:#fff;
    margin-top:auto;
    padding:40px;
    text-align: center;
}
/* Elementos da pagina de cursos */
.courses{
    padding:40px;
}
.courser-filter-desktop{
    border-right: 2px solid #000;
}
.btn-toggle-courser-filter{
    display:none;
    font-size:24px;
    cursor: pointer;
}
/*Elementos da tela de login */
.container-login-header{
    padding:0;
    border-color: #0d47a1;
}
.container-login-header .btn-auth{
    padding:10px;
    width:100%;
    text-decoration: none;
    border-radius:0;
}
#buttonLogin{
    border-right:1px solid #0d47a1;
    background-color:#0d47a1;
    color:#fff;
}
.header-auth{
    border-left:1px solid #000;
    border-bottom:1px solid #000;
}
.header-auth .col-6{
    padding:0;
}
#registerBoard{
    display: none;
}
#registerError{
    display: none;
}
.confirm-email-box{
    padding:40px;
}
#alertLoginError{
    display:none;
}
.container-login{
    border: 1px solid #000;
    
}
.login-body{
    padding:40px;
}
.login-body h4{
    text-align:center;
}
#alertRegisterSuccess{
    display:none;
}


/*Elementos de animação e designer */

.box-animate {
    transition: all 150ms ease-out;
}
.box-animate:hover {
    transform: scale(1.05);
}
.box-animate:hover .deco-layer--1 {
    -webkit-transform: translate3d(13px, 0, 0);
    transform: translate3d(13px, 0, 0);
}
.box-animate:hover .deco-layer--2 {
    -webkit-transform: translate3d(-13px, 0, 0);
    transform: translate3d(-13px, 0, 0);
}
.btn-custom {
    background:rgb(89, 0, 255); 
    color:#fff; 
    text-decoration: none;
    border-radius:20px
}    
.btn-custom:hover{
    color:#fff;
}

/*Elementos da pagina de um curso */
.course-author-img,.comment-autor-img{
    width: 32px;
    height:32px;
    border-radius:50%;
}
.container-stars li{
   float:left;
   list-style: none;
}
.course-details-img{
    width:100%;
    height:400px;
}
.course-outline ul li{
    list-style: none;
}
.course-details-author-img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.about-img{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 400px;
}

.dashboard-user{
    border:1px solid #000;
    padding:0 20px;
}
.details-number{
    font-size: 26px;
}

.profile-card{
    padding:10px;
    margin:10px 0;
}
.profile-img{
    width:250x;
    height: 250px;
    text-align: center;
    border-radius: 50%;
}

@media screen and (max-width:992px){
   .courser-filter-desktop{
       display: none;
   }
   .btn-toggle-courser-filter{
       display: inline-block;
   }
   #dropdownCourses{
        min-width: 0;
        left:0;
        transform: translateX(0);
   }
   .mb-mobile-5{
       margin-bottom:5px;
   }
   .navbar-nav{
       text-align: center;
   }
   .best-courses-wrapper{
       margin:0 5%;
       padding:20px;
   }
}

    